.admin-container {
  border-style: solid;
  border-color: $color-admin;
  margin-top: 60px;
  padding: 15px;
  font-family: 'ubuntu-L', sans-serif;
  font-size: 14px;
  color: #000000;
}

.admin-navbar {
  background-color: $color-admin;
}

.admin-button {
  padding: 5px 10px;
}

.error {
  color: red;
}

.admin-table {
  width: 100%;
}

.admin-table p {
  margin: 3px;
}

.admin-table .action-buttons {
  width: 200px;
}
