@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'coolvetica';
  src: asset-url('coolvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$header_size: 60px;
$section_header_size: 40px;
$section_content_size: 20px;

div {
  font-family:coolvetica;
  font-size: $section_content_size;
}

.admin {
  border-style: solid;
  border-color: red;
}

.navbar {}

.header {
  font-size: $header_size;
  padding: 15px;
}

.mainpage-sections {
  padding: 15px;
}

.mainpage-section {
  padding-top: 10px;
  padding-bottom: 10px;  
}

.mainpage-section-header {
  font-size: $section_header_size;
}

.mainpage-section-content {
  
}