@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "navbar";
@import "admin";

@font-face {
  font-family: 'geosans';
  src: asset-url('geosans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $color_background;
}

div {
  font-family:geosans;
  font-size: $section_content_size;
  color: $color_font;
}


.header {
  font-size: $header_size;
  padding: 15px;
}

.mainpage-sections {
  padding: 15px;
}

.mainpage-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainpage-section-header {
  font-size: $section_header_size;
}

.mainpage-section-content {

}

.highlight {
  color: $color_highlight;
}

// #info
//   display: table
//   background: rgba(0,0,0,0.4)
//   height: 100%
//   width: 100%
//   #info-content
//     display: table-cell
//     vertical-align: middle
//     text-align: center
//     text-transform: uppercase
//     color: #fff
//     font-size: 12px
//     h1
//       color: #fff
//       border: 3px solid #fff
//       text-align: center
//       background: rgba(0,0,0,0.1)
//       font-size: 22px
//       font-weight: normal
//       padding: 20px
//       margin: 10px
//       display: inline-block
//       strong
//         display: block
//         font-size: 26px
