@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'coolvetica';
  src: asset-url('coolvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

div {font-family:coolvetica;}

.admin {
  border-style: solid;
  border-color: red;
}

.navbar {}

.header {
  font-size: 36px;
  font-weight: 200;
  padding: 15px;
}

.mainpage-sections {
  padding: 15px;
}

.mainpage-section {}