.intro-header {
  background-color: $header-back;
  margin-bottom: 30px;
  opacity: 0.9;
  font-family: 'Oxygen', sans-serif;
  box-shadow: 1px 5px 10px black;
  color: $header-text;
}

.intro-header .site-heading {
  text-align: center;
}

// desktop
@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 50px 0 80px 0;
  }

  .intro-header .site-heading .heading {
    font-family: 'Oxygen', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 15px 0 5px 0;
  }

  .intro-header .site-heading .subheading {
    font-size: 2em;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
  }

  hr.small {
    max-width: 450px;
    margin: 3px auto;
    border-width: 4px;
    border-color: $header-text;
  }
}

// mobile
@media only screen and (max-width: 768px) {
  .intro-header .site-heading {
    padding: 80px 0 20px 0;
  }

  .intro-header .site-heading .heading {
    display: none;
  }

  .intro-header .site-heading .subheading {
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0
  }

  hr.small {
    display: none;
  }
}
