.header {
  font-size: $header_size;
  padding: $header_padding;
  margin-right: auto;
  margin-left: auto;
  width: $header_width;
  text-align: center;
  a:hover {
    color: $color_highlight;
    transition: color 1s;
    text-decoration: none;
  }
}

.menu {
  font-size: $menu_size;
  margin-right: auto;
  margin-left: auto;
  width: $header_width;
  text-align: center;
  padding-bottom: 10px;
  color: $color_highlight;
  margin-bottom: 10px;
    a:hover {
    color: $color_font;
    transition: color 1s;
    text-decoration: none;
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.sidebar {
  padding: 15px;
  width: $sidebar_width;
  float:left;
  border: 1px solid $color_border;
}

.content {
  width: $content_width;
  float: right;
}

@media screen and (max-width: 400px) {
   .sidebar {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom: 1px solid $color_border;
  }
  .content {
    width: auto;
    float: none;
  }
}
