.mainpage-sections {
  padding: 15px;
}

.mainpage-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainpage-section-header {
  font-size: $section_header_size;
}

.mainpage-section-content {

}

.highlight {
  color: $color_highlight;
}
