.section {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid $color_border;
}

.section-header {
  font-size: $section_header_size;
}

.section-content {
}

.highlight {
  color: $color_highlight;
}
