.post-heading {
  font-size: $post-heading-font-size;
  text-decoration: none;
}
.post-heading:hover {
  text-decoration: none;
}

.post-preview {
  margin-bottom: 45px;
}

.tags a {
  font-weight: 600;
  text-decoration: none;
}

blockquote {
  color: #777777;
  font-style: italic;
}
