// colors
$color-admin: #ffcccc;
$navbar-text-color: #777777;
$focus-color: #737373;
$background-color: #f5f5f5;
$container-color: #ffffff;
$text-color: #333333;
$footer-text-color: #181818;
$footer-background-color: #181818;
$header-text-color: #FFFFFF;
$header-background-color: #181818;

// font sizes
$navbar-font-size: 14px;
$footer-font-size: 12px;
$post-content-font-size: 20px;
$post-heading-font-size: 36px;
