// colors
$footer-background-color: #4d4d4d;
$color-admin: #ffcccc;
$navbar-font-color: #777777;
$focus-color: #737373;
$background-color: #eeeeee;
$container-color: #ffffff;

// font sizes
$navbar-font-size: 14px;
$footer-font-size: 12px;
