$header_size: 60px;
$section_header_size: 40px;
$section_content_size: 20px;

// colors
$color_background: #ECECEC;
$color_font: #333a56;
$color_highlight: #221D5A;
$color_buttons: #ffffff;
$color_border: #e8e8e8;

$color_admin_border: red;
