<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p> My name is Tommy. I am a Software Developer at Stratajet, London. I use Ruby on Rails and AngularJS.
      I hold a masters degree in Computer Science from Lodz University of Technology.
      I write about code, ux and design.
      </p>

      <p>Currently: Software Developer at Stratajet</p>
      <p>Previously: Ruby on Rails Developer at BinarApps</p>
    </div>
  </div>
</div>

<hr>
