<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Sample text</p>

        <p>Sample text Sample text Sample text Sample text Sample text Sample text.</p>

        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>

        <h2 class="section-heading">Heading</h2>

        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>
        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>

        <blockquote>Quote Quote Quote</blockquote>

        <h2 class="section-heading">Heading</h2>

        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>
        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>

        <a href="#">
            <img class="img-responsive" src="" alt="">
        </a>
        <span class="caption text-muted">Captition</span>

      </div>
    </div>
  </div>
</article>
<hr>
