<div class="container mainpage-sections">
  <div class="mainpage-section" id="aboutme">
    <div class="mainpage-section-header">About Me</div>
    <div class="mainpage-section-content">
      My name is Tommy.
    </div>
    <div class="mainpage-section-content highlight">
      twitter content
    </div>
  </div>
  <div class="mainpage-section" id="linkedin">
    <div class="mainpage-section-header">LinkedIn</div>
    <div class="mainpage-section-content">
      Linked
    </div>
    <div class="mainpage-section-content highlight">
      LinkedIn content.
    </div>
  </div>
  <div class="mainpage-section" id="twitter">
    <div class="mainpage-section-header">Twitter</div>
    <div class="mainpage-section-content">
      tweet
    </div>
    <div class="mainpage-section-content highlight">
      Twitter content.
    </div>
  </div>
</div>
