<div class="section" id="aboutme">
  <div class="section-header">About Me</div>
  <div class="section-content">
    My name is Tommy.
  </div>
  <div class="section-content highlight">
    twitter content
  </div>
</div>
<div class="section" id="linkedin">
  <div class="section-header">LinkedIn</div>
  <div class="section-content">
    Linked
  </div>
  <div class="section-content highlight">
    LinkedIn content.
  </div>
</div>
<div class="section" id="twitter">
  <div class="section-header">Twitter</div>
  <div class="section-content">
    tweet
  </div>
  <div class="section-content highlight">
    Twitter content.
  </div>
</div>
<div class="section" id="twitter">
  <div class="section-header">Twitter</div>
  <div class="section-content">
    tweet
  </div>
  <div class="section-content highlight">
    Twitter content.
  </div>
</div>
