<div class="container content">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div><%= render_markdown(@about_me) %></div>
      <div><%= render_markdown(@work) %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
      <h1>Support this blog</h1>
      <h6>17TK4kjVDW1jUHK2ZzxPf7BV46yx9EmJw3</h6>
      <%= image_tag("btc.png", size: "200") %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
      <div class="fa-icon-link">
        <a href="mailto:tommybernaciak@gmail.com?Subject=[tommybernaciak.com]%20Hello%20Tommy" target="_top">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="fa-icon-link">
        <a href="https://www.linkedin.com/in/tommy-bernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin-square fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="fa-icon-link">
        <a href="https://twitter.com/tommybernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="fa-icon-link">
        <a href="https://github.com/tommybernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
