<div class="container content">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p> Hi, my name is Tommy. I work as a Software Developer at Stratajet, London. I use Ruby on Rails and AngularJS.
        I hold a masters degree in Computer Science from Lodz University of Technology. I write about code, ux and design.
      </p>

      <p>Currently: Software Developer at Stratajet, London</p>
      <p>Previously: Ruby on Rails Developer at BinarApps, Łódź</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
      <div class="favicon-link">
        <a href="mailto:tommybernaciak@gmail.com?Subject=[tommybernaciak.com]%20Hello%20Tommy" target="_top">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="favicon-link">
        <a href="https://www.linkedin.com/in/tommy-bernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin-square fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="favicon-link">
        <a href="https://twitter.com/tommybernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <div class="favicon-link">
        <a href="https://github.com/tommybernaciak">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
