<!DOCTYPE html>
<html>
<head>
  <title>Tommy Bernaciak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
<div class="menu">
  <label class="menu-toggle" for="menu"><span></span></label>
  <ul>
    <li>
      <a href="/">About Me</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>

<div class="container header">
  Tommy Bernaciak
</div>

<%= yield %>

</body>
</html>

