<!DOCTYPE html>
<html>
<head>
  <title>Tommy Bernaciak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- TODO -->
<!-- navbar menu -->
<ul class="nav nav-pills navbar">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Menu <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      help
    </ul>
  </li>
</ul>

<%= yield %>

</body>
</html>
