<!DOCTYPE html>
<html>
<head>
  <title>Tommy Bernaciak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
<div class="menu">
  <label class="menu-toggle" for="menu"><span>Toggle</span></label>
  <ul>
    <li>
      <a href="#">Menu-1</a>
    </li>
    <li>
      <a href="#">Menu-2</a>
    </li>
  </ul>
</div>

<%= yield %>

</body>
</html>

